@if (params()) {
<page-header [title]="I18N.Identity.user.editTitle">

</page-header>
<nz-card>
  <nz-spin [nzSpinning]="loading()"
    class="modal-spin">
    @if (this.createOrEditRequest) {
      <sf #sf
        [autocomplete]="'off'"
        [schema]="schema"
        [mode]="'edit'"
        [formData]="this.createOrEditRequest()"
        [ui]="ui"
        [button]="null">
        <div style="text-align: center;">
          <span style="padding-right: 7px;">
            @if (this.id()) {
              <button
                nz-button
                type="button"
                (click)="showModal()"><i nz-icon
                nzType="undo"
              nzTheme="outline"></i>{{ I18N.Identity.user.resetPassword }}</button>
            }
            <nz-modal [(nzVisible)]="isVisible"
              [nzTitle]="I18N.Identity.user.resetPassword"
              (nzOnOk)="handleOk()"
              (nzOnCancel)="handleCancel()">
              <ng-container *nzModalContent>
                {{ I18N.Identity.user.resetPasswordPrompt }}@if (resetUserPasswordRequest) {
                <input nz-input
                  [(ngModel)]="resetUserPasswordRequest.password"
                  type="password">
              }
            </ng-container>
          </nz-modal>
        </span>
        <button nz-button
          type="button"
          (click)="close()"><i nz-icon
          nzType="rollback"
        nzTheme="outline"></i>{{ I18N.Common.action.back }}</button>
        <button nz-button
          type="submit"
          nzType="primary"
          [disabled]="!sf.valid"
          (click)="submit(sf.value)"><i nz-icon
          nzType="save"
        nzTheme="outline"></i>{{ I18N.Common.action.save }}</button>
      </div>
    </sf>
  }
</nz-spin>
</nz-card>
}
