<list-page-layout [title]="I18N.Identity.user.listTitle"
                  [loading]="loading()"
                  [total]="total()"
                  [data]="data()"
                  [pi]="params().pi"
                  [ps]="params().ps"
                  [selectedCount]="selectedData().length"
                  [columns]="columns()"
                  (refresh)="refresh()"
                  (tableChange)="tableChange($event)">
  @if (paramsForm) {
    <form filters
          nz-form
          [formGroup]="paramsForm"
          nzLayout="inline">
      <nz-form-item>
        <nz-form-label>{{ I18N.Common.list.name }}</nz-form-label>
        <nz-form-control>
          <input nz-input
                 [formControl]="paramsForm.controls.username" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>{{ I18N.Identity.user.filterCreateDate }}</nz-form-label>
        <nz-form-control>
          <nz-range-picker [formControl]="paramsForm.controls.createDate"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>{{ I18N.Identity.user.filterOrg }}</nz-form-label>
        <nz-form-control>
          <nz-tree-select [formControl]="paramsForm.controls.org"
                          org-tree-select-picker>
          </nz-tree-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <button (click)="refresh()"
                nz-button
                nzType="primary">
          <i nz-icon
             nzType="search"
             nzTheme="outline"></i>{{ I18N.Common.action.search }}
        </button>
      </nz-form-item>
    </form>
  }
  <ng-template #headerExtra>
    <button (click)="createUser()"
            nzType="primary"
            nz-button
            [acl]="AppPermission.identity_mutation_createUser">
      <i nz-icon
         nzType="user-add"></i>
      {{ I18N.Identity.user.createUser }}
    </button>
  </ng-template>
  <ng-container toolbar>
    <nz-divider nzType="vertical" />
    <a (click)="selectedData.set([])">{{ I18N.Common.list.clearSelection }}</a>
  </ng-container>
</list-page-layout>
