<div class="box"
     nz-row>
  <div nz-col
       nzSpan="8"
       class="box-left"
       *ngIf="!isMobile">
    <div class="header">
      <img class="logo"
           src="./assets/logo-txt-white-shield.png">
    </div>
    <div class="content">
      <p>Geex Pro</p>
      <p>武林中最有影响力的《葵花宝典》；欲练神功，挥刀自宫</p>
    </div>
    <div class="footer">
          <div nz-row>
            <div nz-col
                 nzXXl="12"
                 nzXl="24"><i nz-icon
                 nzType="book"
                 style="color:white;"
                 nzTheme="outline"></i>&nbsp;多语言
            </div>
            <div nz-col
                 nzXl="24"
                 nzXXl="12">
              <i nz-icon
                 style="color: white;"
                 nzType="appstore"
                 nzTheme="outline"></i>&nbsp;Http动态代理
            </div>
          </div><br>
          <div nz-row>
            <div nz-col
                 nzXl="24"
                 nzXXl="8">
              <i nz-icon
                 style="color: white;"
                 nzType="dollar"
                 nzTheme="outline"></i>&nbsp;全局状态管理
            </div>
            <div nz-col
                 nzXXl="8"
                 nzXl="24">
              <i nz-icon
                 style="color: white;"
                 nzType="area-chart"
                 nzTheme="outline"></i>&nbsp;多标签路由
            </div>
            <div nz-col
                 nzXXl="8"
                 nzXl="24">
              <i nz-icon
                 style="color: white;"
                 nzType="fund"
                 nzTheme="outline"></i>&nbsp;CLi命令生成模块代码
            </div>
          </div>
    </div>
  </div>
  <div nz-col
       [nzSpan]="isMobile?'24':16">
    <router-outlet></router-outlet>
  </div>

</div>
