<list-page-layout [title]="I18N.Tenant.listTitle"
                  [loading]="loading()"
                  [total]="total()"
                  [data]="data()"
                  [pi]="params().pi"
                  [ps]="params().ps"
                  [selectedCount]="selectedData().length"
                  [columns]="columns()"
                  (refresh)="refresh()"
                  (tableChange)="tableChange($event)">
  @if (paramsForm) {
    <form filters
          nz-form
          [formGroup]="paramsForm"
          nzLayout="inline">
      <nz-form-item>
        <nz-form-label>{{ I18N.Common.list.name }}</nz-form-label>
        <nz-form-control>
          <input nz-input
                 [formControl]="paramsForm.controls.filter"
                 [placeholder]="I18N.Tenant.list.filterPlaceholder" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <button (click)="refresh()"
                nz-button
                nzType="primary">
          <i nz-icon
             nzType="search"
             nzTheme="outline"></i>{{ I18N.Common.action.search }}
        </button>
      </nz-form-item>
    </form>
  }
  <ng-template #headerExtra>
    <button (click)="add()"
            nz-button
            nzType="primary">
      <i nz-icon
         nzType="plus"
         nzTheme="outline"></i>
      {{ I18N.Common.action.new }}
    </button>
  </ng-template>
  <ng-container toolbar>
    <nz-divider nzType="vertical" />
    <a (click)="paramsForm.controls.filter.setValue(''); refresh()">
      <i nz-icon nzType="clear"></i>
      {{ I18N.Common.list.clearSelection }}
    </a>
  </ng-container>
</list-page-layout>
