<nz-upload [nzCustomRequest]="uploadGeexBlobObject"
           [nzShowUploadList]="nzShowUploadList"
           (nzChange)="change($event)"
           [nzRemove]="nzRemove || handleRemove"
           [nzPreview]="handlePreview"
           [nzDisabled]="disabled"
           [nzLimit]="nzLimit"
           [nzSize]="nzSize"
           [nzListType]="nzListType"
           [nzMultiple]="nzMultiple"
           [nzType]="$any(nzType)"
           [(nzFileList)]="fileList"
           [nzDisabled]="nzDisabled"
           [nzAction]="nzAction"
           [nzDirectory]="nzDirectory"
           [nzOpenFileDialogOnClick]="nzOpenFileDialogOnClick"
           [nzAccept]="nzAccept"
           [nzFilter]="nzFilter"
           [nzFileType]="nzFileType"
           [nzHeaders]="nzHeaders"
           [nzData]="nzData"
           [nzName]="nzName"
           [nzShowUploadList]="nzShowUploadList"
           [nzWithCredentials]="nzWithCredentials"
           [nzBeforeUpload]="beforeUpload"
           [nzPreview]="handlePreview"
           [nzPreviewFile]="nzPreviewFile"
           [nzDownload]="nzDownload"
           [nzTransformFile]="nzTransformFile"
           (nzChange)="change($event)"
           [nzShowButton]="fileList.length < nzLimit">


  <ng-container *ngTemplateOutlet="uploadButton"></ng-container>
</nz-upload>
