<ng-container *ngIf="this.fullScreen; else elseTemplate">
  <router-outlet></router-outlet>
</ng-container>
<ng-template #elseTemplate>
  <layout-default [options]="options"
                  [content]="contentTpl"
                  [nav]="navTpl">
    <layout-default-header-item direction="right"
                                hidden="mobile">
      <!--操作指引文件下载-->
      <a href="/assets/doc/UserGuidlines.pdf"
         download
         style="font-size: small;"><i nz-icon
           nzType="question-circle"
           style="font-size: 16px;"
           [nzTheme]="'twotone'"
           [nzTwotoneColor]="'#52c41a'"></i>&nbsp;操作手册
      </a>
    </layout-default-header-item>
    <layout-default-header-item direction="right"
                                hidden="mobile">
      <div layout-default-header-item-trigger
           nz-dropdown
           [nzDropdownMenu]="settingsMenu"
           nzTrigger="click"
           nzPlacement="bottomRight">
        <i nz-icon
           nzType="setting"></i>
      </div>
      <nz-dropdown-menu #settingsMenu="nzDropdownMenu">
        <div nz-menu
             style="width: 200px;">
          <div nz-menu-item>
            <header-fullscreen></header-fullscreen>
          </div>
          <div nz-menu-item>
            <header-clear-storage></header-clear-storage>
          </div>
        </div>
      </nz-dropdown-menu>
    </layout-default-header-item>
    <layout-default-header-item direction="right">
      <header-user></header-user>
    </layout-default-header-item>
    <ng-template #navTpl>
      <layout-default-nav></layout-default-nav>
    </ng-template>
    <ng-template #contentTpl>
      <div style="margin-left: 1px;">
        <reuse-tab #reuseTab></reuse-tab>
        <router-outlet (activate)="reuseTab.activate($event)"></router-outlet>
      </div>
    </ng-template>
  </layout-default>
  <ng-container *ngIf="showSettingDrawer">
    <setting-drawer></setting-drawer>
    <theme-btn></theme-btn>
  </ng-container>
</ng-template>
