<!-- [acl]="AppPermission.<%= classify(name) %>sMutationCreate<%= classify(name) %>" -->

<page-header [title]="'<%= classify(name) %>管理'"
             [tab]="phTab"
             [extra]="phExtra"
             [action]="phActionTpl">
  <form nz-form
        *ngIf="params"
        nzLayout="inline">
    <nz-form-item>
      <nz-form-label>筛选</nz-form-label>
      <nz-form-control>
        <input nz-input
               placeholder="请输入搜索条件"
               [formControl]="params.controls.filterText" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button nz-button
              nzType="primary"
              (click)="refresh()">
        <i nz-icon
           nzType="search"
           nzTheme="outline"></i>搜索
      </button>
    </nz-form-item>
    <nz-form-item>
      <button nz-button
              nzType="default"
              (click)="reset()">
        <i nz-icon
           nzType="reload"
           nzTheme="outline"></i>重置
      </button>
    </nz-form-item>
  </form>
  <ng-template #phExtra>
    <!-- [acl]="AppPermission.<%= classify(name) %>MutationCreate<%= classify(name) %>" -->
    <button (click)="add()"
            nz-button
            nzType="primary">
      <i nz-icon
         nzType="plus"></i>
      新增</button>
  </ng-template>
  <ng-template #phTab>
    <!-- <nz-tabset #contentTabSet>
      <nz-tab nzTitle="没有实现功能的tab 1"></nz-tab>
      <nz-tab nzTitle="没有实现功能的tab 2"></nz-tab>
      <nz-tab nzTitle="没有实现功能的tab 3"></nz-tab>
    </nz-tabset> -->
  </ng-template>
  <ng-template #phActionTpl>
    <!-- <nz-row style="display: flex; align-items: center;">
      <nz-tag nzColor="warning">
        <span nz-icon
              nzType="exclamation-circle"></span>
        <span>您有新项目待处理</span>
      </nz-tag>
    </nz-row> -->
  </ng-template>
</page-header>

<nz-card>
  <nz-alert [nzType]="'info'"
            [nzShowIcon]="true"
            [nzMessage]="message">
    <ng-template #message>
      <div>
        <span [innerHTML]="'已选择 '+selectedData?.length+' 项'"></span>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="refresh()"><i nz-icon
             nzType="reload"></i>
          刷新
        </a>
        <ng-container>
          <nz-divider nzType="vertical"></nz-divider>
        <a (click)="batchOperation('delete','<%= classify(name) %>')"><i nz-icon
               nzType="delete"></i>
            批量删除
          </a>
        </ng-container>

      </div>
    </ng-template>
  </nz-alert>
  <st class="mt-sm"
      #st
      [multiSort]="true"
      [loading]="!context?.data"
      [total]="context?.total"
      [data]="context?.data"
      (change)="tableChange($event)"
      [columns]="context?.columns">
    <!-- <ng-template st-row="name" let-item let-index="index">
                      <span>{{item.name}}</span>
                    </ng-template> -->
  </st>
</nz-card>
