@defer (when params()) {
<list-page-layout [title]="'settings'"
                  [loading]="loading()"
                  [total]="total()"
                  [data]="data()"
                  [pi]="params().pi"
                  [ps]="params().ps"
                  [selectedCount]="selectedData().length"
                  [columns]="columns"
                  (refresh)="refresh()"
                  (tableChange)="tableChange($event)">
  @if (paramsForm) {
    <form filters
          style="display: block;"
          nz-form
          [formGroup]="paramsForm"
          nzLayout="inline">
      <div nz-row
           nzGutter="24">
        <div nz-col
             nzSm="24"
             nzMd="12"
             nzLg="8"
             nzXl="6"
             nzXXl="4">
          <nz-form-item>
            <nz-form-label>名称</nz-form-label>
            <nz-form-control>
              <input nz-input
                     [formControl]="paramsForm.controls.name" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col>
          <button (click)="refresh()"
                  nz-button
                  nzType="primary">
            <i nz-icon
               nzType="search"></i>
            搜索</button>
        </div>
      </div>
    </form>
  }
  <ng-template #headerExtra>
    <!-- <button (click)="add()"
      nz-button
      nzType="primary">
      <i nz-icon
      nzType="plus"></i>
    新增</button> -->
  </ng-template>
  <ng-template #headerTab>
    <!-- <nz-tabs #contentTabSet>
    <nz-tab nzTitle="没有实现功能的tab 1"></nz-tab>
    <nz-tab nzTitle="没有实现功能的tab 2"></nz-tab>
    <nz-tab nzTitle="没有实现功能的tab 3"></nz-tab>
  </nz-tabs> -->
  </ng-template>
  <ng-template #headerAction>
  </ng-template>
</list-page-layout>
}
