<page-header [title]="I18N.Identity.profile.title">
</page-header>

<div nz-row
  nzGutter="16">
  <div nz-col
    nzXs="24"
    nzSm="24"
    nzLg="24"
    nzXl="12"
    nzXXl="12">
    @if (userData$(); as userData) {
      <nz-card [nzTitle]="I18N.Identity.profile.userInfoTitle"
        style="height: 100%;">
        <div nz-row
          nzAlign="middle"
          style="height: 100%;">
          <div nz-col
            style="text-align: center;"
            nzXs="24"
            nzSm="24"
            nzLg="8"
            nzXl="8"
            nzXXl="8">
            <nz-avatar [nzSrc]="userData.avatarFile?.url"
              [nzSize]="80"
              style="color:#f56a00; background-color:#fde3cf;"
            nzIcon="user"></nz-avatar>
          </div>
          <div nz-col
            nzXs="24"
            nzSm="24"
            nzLg="16"
            nzXl="16"
            nzXXl="14"
            style="line-height: 50px;">
            <div>{{ I18N.Identity.profile.nameLabel }}<span style="font-size: 18px;">{{userData.username}}</span></div>
            <div>{{ I18N.Identity.profile.rolesLabel }}{{userData.roleNames}}</div>
            <div>{{ I18N.Identity.profile.phoneLabel }}{{userData.phoneNumber == null ? I18N.Identity.profile.phoneNotBound : userData.phoneNumber}}</div>
            <div>{{ I18N.Identity.profile.emailLabel }}{{userData.email}}</div>
            <div>
              <button nz-button
                type="button"
                style="margin-right: 8px;"
              (click)="showModal()">{{ I18N.Identity.profile.changePassword }}</button>
              <button nz-button
                type="button"
                nzType="primary"
              (click)="showTokenModal()">{{ I18N.Identity.profile.generateToken }}</button>
              <nz-modal [(nzVisible)]="isVisible"
                [nzTitle]="I18N.Identity.profile.changePasswordTitle"
                (nzOnOk)="handleOk()"
                (nzOnCancel)="handleCancel()"
                nzMaskClosable="false"
                nzCentered>
                <form nz-form
                  *nzModalContent
                  #ChangePassword="ngForm">
                  <nz-form-item>
                    <nz-form-label nzRequired
                      [nzSm]="6"
                      [nzXs]="24"
                    nzFor="originPassword">{{ I18N.Identity.profile.currentPassword }}</nz-form-label>
                    <nz-form-control [nzSm]="14"
                      [nzXs]="24"
                      [nzErrorTip]="I18N.Identity.profile.currentPasswordRequired">
                      <input nz-input
                        [(ngModel)]="data.originPassword"
                        type="password"
                        id="originPassword"
                        name="originPassword">
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label nzRequired
                        [nzSm]="6"
                        [nzXs]="24"
                      nzFor="newPassword">{{ I18N.Identity.profile.newPassword }}</nz-form-label>
                      <nz-form-control [nzSm]="14"
                        [nzXs]="24"
                        [nzErrorTip]="combineTpl">
                        <input nz-input
                          [(ngModel)]="data.newPassword"
                          type="password"
                          name="newPassword"
                          [appForbiddenName]="confirmPassword">
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-label nzRequired
                          [nzSm]="6"
                          [nzXs]="24"
                        nzFor="checkPassword">{{ I18N.Identity.profile.confirmPassword }}</nz-form-label>
                        <nz-form-control [nzSm]="14"
                          [nzXs]="24"
                          [nzErrorTip]="combineTpl">
                          <input nz-input
                            [(ngModel)]="confirmPassword"
                            type="password"
                            name="checkNewPassword"
                            [appForbiddenName]="data.newPassword">
                          </nz-form-control>
                        </nz-form-item>
                        <ng-template #combineTpl
                          let-control>
                          @if (control.hasError('newPassword')) {
                            {{ I18N.Identity.profile.passwordMismatch }}
                          }
                          @if (control.hasError('required')) {
                            {{ I18N.Identity.profile.required }}
                          }
                        </ng-template>
                      </form>
                    </nz-modal>
                    
                    <nz-modal [nzVisible]="isTokenModalVisible$()"
                      [nzTitle]="I18N.Identity.profile.tokenModalTitle"
                      [nzFooter]="tokenModalFooter"
                      (nzOnCancel)="handleTokenModalCancel()"
                      (nzVisibleChange)="isTokenModalVisible$.set($event)"
                      nzMaskClosable="false"
                      nzWidth="600px"
                      nzCentered>
                      <div *nzModalContent>
                        @if (!generatedToken$()) {
                          <nz-alert nzType="warning"
                            [nzMessage]="I18N.Identity.profile.securityWarningTitle"
                            [nzDescription]="I18N.Identity.profile.securityWarningDesc"
                            nzShowIcon
                            style="margin-bottom: 16px;">
                          </nz-alert>
                          
                          <nz-form-item>
                            <nz-form-label [nzSpan]="6"
                              nzRequired>{{ I18N.Identity.profile.expireDays }}</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                              <nz-input-number [ngModel]="tokenExpireDays$()"
                                (ngModelChange)="tokenExpireDays$.set($event)"
                                [nzMin]="1"
                                [nzMax]="365"
                                [nzStep]="1"
                                style="width: 100%;">
                              </nz-input-number>
                            </nz-form-control>
                          </nz-form-item>
                        }
                        
                        @if (generatedToken$()) {
                          <nz-alert nzType="success"
                            [nzMessage]="I18N.Identity.profile.tokenGeneratedTitle"
                            [nzDescription]="I18N.Identity.profile.tokenGeneratedDesc"
                            nzShowIcon
                            style="margin-bottom: 16px;">
                          </nz-alert>
                          
                          <nz-form-item>
                            <nz-form-label [nzSpan]="6">{{ I18N.Identity.profile.accessToken }}</nz-form-label>
                            <nz-form-control [nzSpan]="18">
                              <textarea nz-input
                                [ngModel]="generatedToken$()"
                                [nzAutosize]="{ minRows: 3, maxRows: 6 }"
                                readonly
                                style="font-family: monospace; font-size: 12px;">
                              </textarea>
                              <button nz-button
                                nzType="link"
                                (click)="copyToken()"
                                style="padding: 0; margin-top: 8px;">
                                <i nz-icon nzType="copy"></i> {{ I18N.Identity.profile.copyToClipboard }}
                              </button>
                            </nz-form-control>
                          </nz-form-item>
                        }
                      </div>
                      
                      <ng-template #tokenModalFooter>
                        @if (!generatedToken$()) {
                          <button nz-button
                            nzType="default"
                            (click)="handleTokenModalCancel()">{{ I18N.Common.action.cancel }}</button>
                          <button nz-button
                            nzType="primary"
                            (click)="handleGenerateToken()">{{ I18N.Identity.profile.generate }}</button>
                        }
                        @if (generatedToken$()) {
                          <button nz-button
                            nzType="primary"
                            (click)="handleTokenModalCancel()">{{ I18N.Identity.profile.close }}</button>
                        }
                      </ng-template>
                    </nz-modal>
                  </div>
                </div>
              </div>
            </nz-card>
          }
        </div>
        <div nz-col
          nzXs="24"
          nzSm="24"
          nzLg="24"
          nzXl="12"
          nzXXl="12">
          <nz-card [nzTitle]="orgTitle"
            [nzExtra]="extra"
            style="height: 100%;">
            <ng-template #orgTitle>
              <i nz-icon
                nzType="share-alt"
              nzTheme="outline"></i> {{ I18N.Identity.profile.myOrgsTitle }}
            </ng-template>
            <ng-template #extra>
              <button nz-tooltip
                [nzTooltipTitle]="I18N.Common.action.refresh"
                (click)="refresh()"
                nz-button
                nzSize="small"
                nzType="link">
                <i nz-icon
                nzType="reload"></i>
              </button>
            </ng-template>

            <nz-tree [nzData]="nodes$()"
            [nzTreeTemplate]="nzTreeTemplate"></nz-tree>
            <ng-template #nzTreeTemplate
              let-node
              let-origin="origin">
              <span class="custom-node">
                @if (!node.isLeaf) {
                  <span>
                    <i nz-icon
                    [nzType]="node.isExpanded ? 'folder-open' : 'folder'"></i>
                    <span class="folder-name">{{ node.title }}</span>
                  </span>
                }
                @if (node.isLeaf) {
                  <span>
                    <i nz-icon
                    nzType="file"></i>
                    <span class="file-name">{{ node.title }}</span>
                  </span>
                }
              </span>
            </ng-template>

          </nz-card>
        </div>

      </div>

@if (messagingEnabled()) {
  <div nz-row
    nzGutter="16"
    class="mt-md"
    id="unread-messages">
    <div nz-col
      nzSpan="24">
      <nz-card [nzTitle]="I18N.Identity.profile.unreadMessagesTitle"
        [nzExtra]="unreadExtra">
        <ng-template #unreadExtra>
          <button nz-button
            nzType="primary"
            nzSize="small"
            [disabled]="!unreadSelectedIds().length"
            (click)="markUnreadRead()">
            {{ I18N.Messaging?.markRead ?? "标记已读" }}
          </button>
          <button nz-button
            nzSize="small"
            class="ml-sm"
            (click)="loadUnreadMessages()">
            {{ I18N.Common.action.refresh }}
          </button>
        </ng-template>
        <st
          [columns]="unreadColumns"
          [data]="unreadMessages()"
          [loading]="unreadLoading()"
          [total]="unreadMessages().length"
          [page]="{ front: true, show: true }"
          (change)="onUnreadTableChange($event)"
        />
      </nz-card>
    </div>
  </div>
}
