<page-header [title]="context.id?'<%= classify(name) %>：'+context.id:'新增'"
             *ngIf="context"
             [extra]="phExtra"
             [action]="phActionTpl">

  <ng-template #phExtra>
    <nz-row>
    <!-- [acl]="AppPermission.<%= classify(name) %>MutationAudit<%= classify(name) %>" -->
      <!-- <button (click)="null"
                                      *ngIf="context.entity.auditable"
                                      nz-button
                                      nzType="primary">
                                <i nz-icon
                                   nzType="audit"></i>
                                审批</button> -->
    <!-- [acl]="AppPermission.<%= classify(name) %>MutationSubmit<%= classify(name) %>" -->
      <!-- <button (click)="null"
                                      *ngIf="context.entity.submittable"
                                      nz-button
                                      nzType="primary">
                                <i nz-icon
                                   nzType="upload"></i>
                                上报</button> -->
    </nz-row>
  </ng-template>
  <ng-template #phActionTpl>
    <!-- <nz-row [ngSwitch]="context.originalValue.auditStatus"
                                  style="display: flex; align-items: center;">
                            <nz-tag *ngSwitchCase="AuditStatus.Audited"
                                    nzColor="success">
                              <span nz-icon
                                    nzType="check-circle"></span>
                              <span>已审批</span>
                            </nz-tag>
                            <nz-tag *ngSwitchCase="AuditStatus.Submitted"
                                    nzColor="processing">
                              <span nz-icon
                                    nzType="sync"
                                    nzSpin></span>
                              <span>待审批</span>
                            </nz-tag>
                            <nz-tag *ngSwitchCase="AuditStatus.Rejected"
                                        nzColor="error">
                                  <span nz-icon
                                        nzType="close-circle"></span>
                                  <span>已退回</span>
                                </nz-tag>
                            <nz-tag *ngSwitchCase="AuditStatus.Resubmitted"
                                        nzColor="warn">
                                  <span nz-icon
                                        nzType="exclamation-circle"></span>
                                  <span>已修改</span>
                                </nz-tag>
                            <nz-tag *ngSwitchCase="AuditStatus.Default"
                                    nzColor="default">
                              <span nz-icon
                                    nzType="clock-circle"></span>
                              <span>待提交</span>
                            </nz-tag>
                          </nz-row> -->
  </ng-template>
</page-header>

<nz-card *ngIf="context">

  <form nz-form
  [formGroup]="context.entityForm"
        autocomplete="off">
    <nz-form-item>
      <nz-form-label [nzSm]="4"
                     [nzXs]="24" nzRequired>名称</nz-form-label>
      <nz-form-control [nzSm]="20"
                       [nzXs]="24">
        <input nz-input
               [formControl]="context.entityForm.controls.name">
      </nz-form-control>
    </nz-form-item>
  </form>

  <div style="display: flex;
          text-align: center;
          gap: 10px;
          justify-content: center;">
    <button nz-button
            type="button"
            (click)="close()"><i nz-icon
         nzType="rollback"
         nzTheme="outline"></i>返回</button>
    <span nz-tooltip
          [nzTooltipTitle]="context.disabled?'已禁用编辑.':''">
      <button nz-button
              type="submit"
              nzType="primary"
              [disabled]="context.disabled  || !context.entityForm.valid"
              (click)="submit()">
        <i nz-icon
           nzType="save"
           nzTheme="outline"></i>保存</button>
    </span>

  </div>


</nz-card>
