import { Routes } from "@angular/router";

export const <%= routesExport %>: Routes = [
  {
    path: "",
    loadChildren: () => import("./pages/<%= name %>-pages.routes").then(m => m.<%= pagesRoutesExport %>),
  },
];
