import type { Menu } from "@delon/theme";

export const menuContribution: Menu[] = [
  {
    text: "<%= className %>",
    link: "/<%= name %>",
    icon: "anticon-control",
    children: [],
  },
];
