import { Routes } from "@angular/router";
import { <%= className %>ListPage } from "./list/list.page";

export const <%= pagesRoutesExport %>: Routes = [
  { path: "", component: <%= className %>ListPage },
];
