@if (params()) {
<page-header [title]="I18N.Identity.role.editTitle">
</page-header>
@if (paramsForm) {
  <nz-card>
    @if (paramsForm) {
      <form nz-form
        [formGroup]="paramsForm"
        autocomplete="off">
        <nz-form-item>
          <nz-form-label nzFor="roleName">{{ I18N.Identity.role.roleLabel }}</nz-form-label>
          <nz-form-control>
            <input nz-input
              [formControl]="paramsForm.controls.roleName">
            </nz-form-control>
          </nz-form-item>
        </form>
      }
      <nz-card [nzTitle]="I18N.Identity.role.permissionsTitle">
        <app-permissions [permissions]="originalAllowedPermissions"
        (permissionsChange)="allowedPermissions = $event"></app-permissions>
      </nz-card>
  <div style="display: flex;
             text-align: center;
             gap: 10px;
             justify-content: center;">
        <button nz-button
          type="button"
          (click)="close()"><i nz-icon
          nzType="rollback"
        nzTheme="outline"></i>{{ I18N.Common.action.back }}</button>
        <span nz-tooltip
          [nzTooltipTitle]="entity?.isStatic ? I18N.Identity.role.staticRoleTooltip : ''">
          <button nz-button
            type="submit"
            nzType="primary"
            [disabled]="entity?.isStatic"
            (click)="submit()">
            <i nz-icon
              nzType="save"
            nzTheme="outline"></i>{{ I18N.Common.action.save }}</button>
          </span>
        </div>
      </nz-card>
    }
  }
