<div class="modal-header">
  <div class="modal-title">查看 {{ record.id }} 信息</div>
</div>

<div sv-container>
  <sv label="书名">{{ bookEntity.name }}</sv>
  <sv label="作者">{{ bookEntity.author }}</sv>
  <sv label="封面">{{ bookEntity.cover }}</sv>
  <sv label="分类">{{ bookEntity.bookCategory.name }}</sv>
  <sv label="出版社">{{ bookEntity.press }}</sv>
  <sv label="出版时间">{{ bookEntity.publicationDate | date:'yyyy-MM-dd' }}</sv>
  <sv label="ISBN">{{ bookEntity.isbn }}</sv>
</div>

<div>
  <h2>借阅记录</h2>
</div>

<nz-table #basicTable
          [nzData]="bookEntity.borrowRecords">
  <thead>
    <tr>
      <th>借阅人</th>
      <th>借阅时间</th>
      <th>还书时间</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td style="text-align: center;">{{ data.reader.name }}</td>
      <td style="text-align: center;">{{ data.readersDate | date:'yyyy-MM-dd HH:ss' }}</td>
      <td style="text-align: center;">{{ data.returnDate | date:'yyyy-MM-dd HH:ss'}}</td>
    </tr>
  </tbody>
</nz-table>

<div class="modal-footer">
  <button nz-button
          type="button"
          (click)="close()">关闭</button>
</div>
